{% extends 'base.html.twig' %}

{% block title %}Test{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>ATM for:</h1>
    <h2>city: {{ city }}</h2>
    <h2>address: {{ address }}</h2>

    <ul>
        {% for device in atms.devices %}
            <li>{{ device.fullAddressEn }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
